<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<form action="outputpage">

number_of_trucks  : <a href="t1.html">t1</a>, <a href="t2.html">t2</a>, <a href="t3.html">t3</a><br><br>
name of driver    : <input type="text"><br><br>

type of product   : <a href="petrol.html">disel</a>, <a href="disel.html">disel</a><br><br>

name of dellor    : <input type="text"><br><br>
          root    : <input type="text"><br><br>
quantity of tank  : <input type="text"><br><br>

<button>submit</button>
</form>
</body>
</html>