<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<h1>dellor information</h1>

product_id:<input type="text" name="unitid">
<br><br>
client_id:<input type="text" name="clientid">
<br><br>
client_name:<input type="text" name="clientname">
<br><br>

location:<input type="text" name="location">
<br><br>

<label for="fule_type">fule_type:</label>

<select name="fule_type" id="cars">
  <option value="disel">disel</option>
  <option value="petrol">petrol</option>
  <option value="kerosen">kerosen</option>
  <option value="propane">propane</option>
</select>
<br><br>
vehicle_type:<input type="text" name="vehicle_type">
<br><br>
maximum_fuel_limit:<input type="text" name="maximum_fuel_limit">
<br><br>
minimum_fuel_limit<input type="text" name="minimum_fuel_limit">
<br><br>
<input type="submit">
</body>
</html>